footer {
  background: rgb(207, 211, 235);
  ;
  margin-top: 1em;
  position: absolute;
  bottom: 0;
  width: 100%;
}

footer p {
  margin: 0;
  padding: 0.5em;
  font-size: 1.0em;
  text-align: center;
}
