
.welcome {
  padding: 0.3em 0.5em;
  border: 1px solid #999;
  border-radius: 0.3em;
  font-size: 0.8em;
  margin-top: 1em;
}

.welcome h3 {
  background-color: rgb(207, 211, 235);
  border-radius: 0.3em;
  width: 100%;
  padding: 0.3em 1em;
}

.welcome p {
  padding: 1em;
  margin: 10px auto;
  border-bottom: 1px solid #999;
  font-style: normal;
  text-align: center;
}

// .welcome a {
//   color: rgb(3, 3, 3);
//   text-decoration: none;
//   background-color: rgb(207, 211, 235);
//   border: none;
//   border-radius: 0.3em;
//   padding: 0.5em 5.2em;
//   margin: 1em;
// }

.welcome a:hover {
  cursor: pointer;
}

.welcome ul {
  display: flex;
  justify-content: space-evenly;
  padding: 0;
  margin: 1em;
}

.welcome li {
  list-style: none;
}

img {
  margin: 10px 40px;
  max-width: 50%;
  justify-content: center;
  position: relative;
  padding-bottom : 30px;
  cursor: pointer;
}

.wrapping-div {
  display: flex;
  position: relative;
  justify-content: space-around;
  margin: 20px auto;
}